  <style>
.headerlink {
  background-color: #555;
  color: white;
  float: none;
  border: none;
  border-style: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
}

.headerlink:hover {
  background-color: #777;
  color: white;
}
  
hr {
  height: 2px !important;
  color: #555 !important;
  background-color: #555 !important;
}
</style>
<center>
 <p id="HtmlIsTheWorstThingIHaveEverUsed">
   <a class="headerlink" href="https://kadedevteam.github.io/Kade-Engine-Offical/changelog/">Changelogs</a>
   <a class="headerlink" href="https://kadedevteam.github.io/Kade-Engine-Offical/downloads/">Downloads</a>
   <a class="headerlink" href="https://github.com/kadedevteam/Kade-Engine-Offical/wiki">Wiki</a>
   <a class="headerlink" href="https://kadedevteam.github.io/Kade-Engine-Offical/guides/">Guides</a>
   <br>&nbsp;
   <hr>
 </p>
</center>
